.cart-dropdown {
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 55px;
  right: 40px;
  z-index: 5;
  justify-content: space-between;

  .cart-items {
    height: 272px;
    overflow: auto;
    padding: 6px;

    .cart-empty-block {
      display: flex;
      flex-direction: column;

      .cart-empty-img {
        height: 240px;
        width: 240px;
      }

      .empty-message {
        margin: 0 auto;
      }
    }
  }

  .link-button {
    margin: 0 auto;
  }
}
