.product-title {
  margin: 1rem;
  font-size: 30px;
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 0 5.4rem;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
  }
}

.more-button {
  margin: 3rem 0;
}
