.store-product-container {
  max-width: 1200px;
  width: 100%;
  margin: 80px auto;
}

.store-product-main-title {
  padding: 20px;
  background: rgba(0, 0, 0, 0.02);
}

.store-product-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
