.store-product-container {
  max-width: 1200px;
  width: 100%;
  margin: 80px auto;
}

.store-product-main-title {
  padding: 20px;
  background: rgba(0, 0, 0, 0.02);
}

.store-product-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
  .store-product-button-submit {
    border-radius: 24px;
    background-color: blue;
    padding: 10px 26px;
    font-size: 14px;
    color: white;
  }
}
