.manage-account-block {
  margin: 2rem 5rem;
  font-size: 20px;
  background: #f5f5f5;

  .manage-account-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
