.main {
  margin: 0 5rem;

  .account-page-buttons {
    display: flex;
    justify-content: space-between;

    .account-page-navigate {
      display: flex;

      button {
        margin-right: 10px;
      }
    }
  }
}
