.cart-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .cart-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    align-items: center;

    .header-block {
      text-transform: capitalize;
      width: 23%;
      font-size: 18px;

      &:last-child {
        width: 8%;
      }
    }

    .remove-all {
      cursor: pointer;

      &:hover {
        color: cornflowerblue;
      }
    }
  }

  .c-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    padding: 15px 0;
    font-size: 18px;
    align-items: center;
    background: #f5f5f5;
    margin: 10px 0;

    .image-container {
      width: 23%;
      padding-right: 15px;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
    .name,
    .quantity,
    .price {
      width: 30%;

      .stock {
        padding: 0 18px;
      }
    }

    .quantity {
      display: block;

      .value {
        margin: 0 10px;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .cart-page-checkout {
    margin: 2rem 0;
  }
}
