.add-component-to-directory-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .add-component-to-directory-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.add-component-to-directory-button {
  display: flex;
  justify-content: center;
}
