.checkout-page-block {
  width: 1200px;
  margin: 30px auto 70px;
  font-size: 18px;

  .checkout-page-container {
    background: #f5f5f5;
    padding: 28px 30px 24px;

    .input-fields {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .input {
        width: 30%;
      }
    }
  }

  .products-ordered {
    margin-top: 12px;

    .checkout-ordered-shop-container {
      background: white;
      padding: 10px;

      .checkout-ordered-header {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;
        align-items: center;

        .header-block {
          text-transform: capitalize;
          width: 100px;
          object-fit: cover;
        }

        img {
          height: 100px;
        }
      }
    }

    .products-ordered-total {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
      font-size: 24px;
    }
  }

  .place-order {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
  }
}
